# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IS\IS-30237\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
